:root {
	---blue-main: #c1efff;
	---orange-main: #df7861;
	---orange-light: rgb(228, 193, 185);
	---orange-bright: #e05435;
}

/* CSS RESET */
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}
/* */

.App {
	background-color: var(---blue-main);
	height: 100vh;

	display: flex;
	align-items: center;
}

.shopping-list-form {
	width: 40rem;
	margin: 0 auto;
	background-color: var(---orange-main);

	border-radius: 6px;
	box-shadow: 5px 5px 25px rgb(143, 143, 143);

	padding: 4rem 2rem 3rem;
}
